.reg {
  width: 100%;
  background: #F9F8FF;
  display: flex;
  align-items: center;
  flex-direction: column;

  &__title {
    margin-top: 90px;
    margin-bottom: 16px;
    font-family: $font-accent;
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.02em;
    color: $color-text;
  }

  &__subtitle {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: $font-main;
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 132.2%;
    text-align: center;
    color: $color-bg-light;
    padding: 7px 13px;
    margin: 0 auto 25px;
    border-radius: 4px;
    background: $gradient-project;
    & span {
      display: inline-block;
      margin-left: 5px;
      font-weight: 700;
    }
  }
  &__step {
    font-family: $font-main;
    font-style: normal;
    font-weight: 300;
    font-size: 32px;
    line-height: 132.2%;
    text-align: center;
    color: $color-text;
    opacity: 0.6;
    margin-bottom: 50px;
  }
  &__wrap {
    background: #F9F9F9;
    box-shadow: 0px 12px 37px rgba(0, 0, 0, 0.12);
    border-radius: 15px;
    max-width: 420px;
    width: 100%;
    padding: 35px 25px;
    margin: 0 auto 170px;
    overflow: hidden;
    position: relative;
    & label {
      display: flex;
      flex-direction: column;
      font-family: $font-main;
      font-style: normal;
      font-weight: 500;
      font-size: 19px;
      line-height: 140%;
      color: $color-text;
      margin-bottom: 7px;
      width: 100%;
      margin-bottom: 16px;
      text-indent: 10px;
      @media (max-width: 1024px) {
        font-size: 14px;
      }
    }
    & input {
      border: none;
      background: #FFFFFF;
      box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.03);
      border-radius: 6px;
      padding: 15px 11px;
      width: 100%;
      height: 60px;
      font-family: $font-main;
      font-style: normal;
      font-weight: 300;
      font-size: 22px;
      color: $color-text;
      @media (max-width: 1024px) {
        font-size: 16px;
        padding: 10px 7px;
        height: 42px;
      }
      &::placeholder {
        font-family: $font-main;
        font-style: normal;
        font-weight: 300;
        font-size: 22px;
        color: $color-text;
        opacity: 0.4;
        @media (max-width: 1024px) {
          font-size: 16px;
        }
      }
    }
  }

  &__link {
    text-decoration: none;
    font-family: $font-main;
    font-style: normal;
    font-weight: 300;
    font-size: 14.888px;
    line-height: 140%;
    color: #9E9E9E;
    text-align: center;
    margin: 25px 0;
    display: block;
    & span {
      font-weight: 500;
      color: $color-reserch;
      text-decoration: underline;
    }
  }

  &__btn {
    border: none;
    background: $gradient-project;
    box-shadow: 0px 4px 12px rgba(6, 6, 6, 0.25), inset 0px 6.47328px 7.28244px rgba(255, 255, 255, 0.18), inset 10.5191px -1.61832px 17.8015px rgba(255, 255, 255, 0.12);
    overflow: hidden;
    text-decoration: none;
    flex-shrink: 0;
    border-radius: 12px;
    position: relative;   
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 35px 45px;
    width: 100%;
    max-width: 367px;
    margin: 0 auto;
    transition: 0.3s;
    cursor: pointer;
    &:hover {
      box-shadow: 0px 4px 12px rgba(6, 6, 6, 0.25), inset 0px 6.47328px 7.28244px rgba(0, 0, 0, 0.18), inset 10.5191px -1.61832px 17.8015px rgba(0, 0, 0, 0.12);
    }
  }

  &__btn-span {
    background-image: url('../assets/img/btn-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    mix-blend-mode: color-burn;
    position: absolute;
    width: 100%;
    height: 100%;
  }

  &__btn-text {
    font-family: $font-main;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 143.7%;
    text-align: right;
    color: $color-light;
    text-transform: uppercase;
    @media (max-width: 1024px) {
      font-size: 16px;
      line-height: 21px;
    }
  }

  &__order {
    font-family: $font-main;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #939393;
    margin-bottom: 13px;
    display: block;
  }

  &__logo {
    width: 154px;
    height: 61px;
    margin: 0 auto;
    background: url('../assets/svg/logo.svg') no-repeat center / contain;
  }

  &__user-data {
    background: #FFFFFF;
    border-radius: 13px;
    padding: 8px;
    padding-left: 64px;
    position: relative;
    margin-bottom: 13px;
    &::before {
      position: absolute;
      content: '';
      width: 40px;
      height: 40px;
      top: calc(50% - 20px);
      left: 14px;
      background: url('../assets/svg/User.svg') no-repeat center / contain;
    }
  }

  &__user-name {
    font-family: $font-main;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 172.5%;
    text-align: left;
    color: #000000;
    display: block;
  }

  &__user-mail,
  &__user-phone {
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 172.5%;
    text-align: left;
    color: #000000;
    display: block;
  }

  &__promo {
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 25px;
    & .promo {
      background: #FFFFFF;
      border-radius: 8px;
      box-shadow: none;
      padding: 10px 15px;
      font-family: $font-main;
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 14px;
      color: $color-reserch;
      &::placeholder {
        font-family: $font-main;
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        color: $color-reserch;
        opacity: 0.5;
        text-decoration: underline;
      }
    }
    & .promo-btn {
      position: absolute;
      background: $color-project url('../assets/svg/Icon.svg') no-repeat center;
      display: block;
      width: 42px;
      height: 42px;
      top: 0px;
      right: 0px;
      border: none;
      cursor: pointer;
    }
  }

  &__set1 {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 35px;
    & input {
      display: none;
    }
    & label {
      width: 72px;
      height: 72px;
      border-radius: 13px;
      position: relative;
      cursor: pointer;
      &::after {
        position:absolute;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        text-align: center;
        bottom: -17px;
        left: 50%;
        transform: translate(-58%, 0);
        width: 100%;
      }
      &.card {
        background: #8E8DFF url('../assets/svg/card.svg') no-repeat center;
      }
      &.card::after {
        content: 'Карта';
        color: #5756E8;
      }
      &.part{
        background: #B0AFFF url('../assets/svg/part.svg') no-repeat center;
      }
      &.part::after {
        content: 'Рассрочка';
        color: $color-text;
      }
      &.prepay {
        background: #CDCDFB url('../assets/svg/lock.svg') no-repeat center;
      }
      &.prepay::after {
        content: 'Предоплата';
        color: $color-text;
        opacity: 0.5;
      }
      &.ip-ooo {
        background: #CDCDFB url('../assets/svg/lock.svg') no-repeat center;
      }
      &.ip-ooo::after {
        content: 'ИП/ООО';
        color: $color-text;
        opacity: 0.5;
      }
    }
  }

  &__set2 {
    display: flex;
    width: 450px;
    position: absolute;
    left: 25px;
    top: 442px;
    transition: 0.6s;
    @media (max-width: 1024px) {
      top: 410px;
    }
    & input {
      display: none;
      &:checked + label {
        box-shadow: 0px 0px 12px rgba(142, 141, 255, 0.31);
        &::before {
          position: absolute;
          content: '';
          top: -5px;
          right: 5px;
          background: url('../assets/svg/checked.svg') no-repeat center / contain;
          width: 24px;
          height: 24px;
        }
      }
    }
    & label {
      width: 215px;
      height: 91px;
      background: #FFFFFF;
      border-radius: 8px;
      margin-right: 18px;
      transition: 0.3s;
      position: relative;
      &[for=robokassa] {
        background: #FFFFFF url('../assets/img/robokassa.png') no-repeat center;
      }
      &[for=prodamus] {
        background: #FFFFFF url('../assets/img/prodamus.png') no-repeat center;
      }
    }
  }

  &__price {
    font-family: $font-accent;
    font-style: normal;
    font-weight: 400;
    font-size: 66.1438px;
    line-height: 79px;
    text-align: center;
    color: $color-text;
    display: block;
    margin-bottom: 7px;
    margin-top: 137px;
  }

}
.tab-2 {
  display: none;
}

