.gc-user-guest {
  background: #F9F8FF;
}
.reg {
  width: 100%;
  background: #F9F8FF;

  &__container {
    display: flex;
    flex-direction: column;
  }

  &__title {
    margin-top: 90px;
    margin-bottom: 16px;
    font-family: $font-accent;
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.02em;
    color: $color-text;
    @media (max-width: 1024px) {
      font-size: 40px;
      line-height: 50px;
      margin-top: 60px;
    }
  }

  .widget-wrap {
    min-height: 988px;
  }
  .price__salary {
    max-width: max-content;
    margin: 0 auto;
    font-family: $font-main;
    font-style: normal;
    font-weight: 300;
    font-size: 23px;
    line-height: 132.2%;
    text-align: center;
    color: $color-bg-light;
    padding: 10px 16px;
    border-radius: 6px;
    background: $gradient-project;
    @media (max-width: 1024px) {
      font-size: 16px;
    }

    &_span {
      font-weight: 700;
      margin-left: 5px;
    }
  }

}

.reg {

  &__footer {
    width: 100%;
    background: $gradient-project;
    color: $color-light;
    font-family: $font-main;
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 132.2%;
    margin-top: auto;
    & .container {
      padding: 52px 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      @media (max-width: 1024px) {
        flex-direction: column;
      }
    }
  }
}
.footer {

  &__left {
    text-align: left;
    width: 30%;
    @media (max-width: 1024px) {
      text-align: center;
      width: 100%;
    }
  }

  &__link {
    display: block;
    margin-bottom: 24px;
    color: $color-light;
    &.ip-mail {
      text-decoration: none;
    }
    &.ip-tel {
      text-decoration: none;
    }
  }

  &__center {
    text-align: center;
    width: 35%;
    @media (max-width: 1024px) {
      margin: 30px 0px;
      width: 100%;
    }
  }

  &__right {
    text-align: right;
    width: 30%;
    @media (max-width: 1024px) {
      text-align: center;
      width: 100%;
    }
  }

}

