.hero {

  position: relative;
  background: url('../assets/img/main-bg.jpg') no-repeat center / cover;

  &__container {
    padding: 0;
  }

  &__separator {
    position: absolute;
    width: 100%;
    height: auto;
    bottom: -2px;
    z-index: 5;
  }

  &__date-wrap {
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: max-content;
    margin-bottom: 16px;
    @media (max-width: 1024px) {
      flex-direction: column-reverse;
      gap: 10px;
    }
  }

  &__time {
    font-family: $font-main;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 143.7%;
    color: $color-reserch;
    &:first-child {
      margin-right: 35px;
    }
    @media (max-width: 1024px) {
      font-size: 14px;
    }
  }

  &__time-span {
    font-family: $font-accent;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    background: linear-gradient(87.94deg, #4E4E4E 2.72%, #838383 59.74%, #8D8D8D 70.33%, #4E4E4E 99.6%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    text-shadow: 0px 0px 63.0342px rgba(27, 190, 227, 0.32);
    @media (max-width: 1024px) {
      font-size: 30px;
    }
    @media (max-width: 768px) {
      font-size: 24px;
    }
  }

  &__title {
    font-family: $font-main;
    font-style: normal;
    font-weight: 900;
    font-size: 100px;
    line-height: 94px;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    background: linear-gradient(265.59deg, #323232 2.82%, #565656 37.55%, #5F5F5F 62.72%, #323232 99.46%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    text-shadow: 0px 10.4225px 17.7183px rgba(0, 0, 0, 0.25);
    @media (max-width: 1024px) {
      font-size: 40px;
      line-height: 38px;
    }
  }

  &__title-span {
    display: block;
    font-family: $font-main;
    font-style: normal;
    font-weight: 900;
    font-size: 123px;
    line-height: 94px;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    background: linear-gradient(265.59deg, #323232 2.82%, #565656 37.55%, #5F5F5F 62.72%, #323232 99.46%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    text-shadow: 0px 10.4225px 17.7183px rgba(0, 0, 0, 0.25);
    @media (max-width: 1024px) {
      font-size: 50px;
      line-height: 47px;
    }
  }
  &__content-wrap {
    position: relative;
    margin-top: -32px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    @media (max-width: 1024px) {
      margin-top: 0;
    }
  }
  &__img {
    display: block;
    margin: 0 auto;
    position: relative;
    z-index: 2;
    @media (max-width: 1024px) {
      display: none;
    }
    &_1024 {
      display: none;
      @media (max-width: 1024px) {
        display: block;
        margin-top: 90px;
      }
    }
  }
  &__offer {
    position: absolute;
    z-index: 3;
    bottom: 53px;
    left: calc(50% - 460px);
    width: 920px;
    height: 150px;
    background: linear-gradient(275.47deg, rgba(255, 255, 255, 0.1518) -6.66%, rgba(255, 255, 255, 0.297) 23.73%, rgba(255, 255, 255, 0.1056) 38.2%), linear-gradient(84.15deg, rgba(172, 170, 190, 0.1701) -4.92%, rgba(84, 70, 174, 0.2322) 32.93%), rgba(0, 0, 0, 0.18);
    backdrop-filter: blur(60px);
    border-radius: 15px;
    display: flex;
    align-items: center;
    padding: 18px;
    @media (max-width: 1200px) {
      z-index: 10;
      bottom: -85px;
    }
    @media (max-width: 1024px) {
      background: transparent;
      -webkit-backdrop-filter: none;
      backdrop-filter: none;
      flex-direction: column;
      top: 0px;
      width: 100%;
      bottom: auto;
      left: 0;
    }
  }
  &__offer-text {
    font-family: $font-main;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 143.7%;
    text-align: right;
    color: $color-light;
    margin-right: 36px;
    @media (max-width: 1024px) {
      font-family: $font-main;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 110%;
      text-align: center;
      color: $color-text;
      max-width: 280px;
      margin-right: 0;
    }
  }
  &__offer-btn {
    background: $gradient-project;
    box-shadow: 0px 4px 12px rgba(6, 6, 6, 0.25), inset 0px 6.47328px 7.28244px rgba(255, 255, 255, 0.18), inset 10.5191px -1.61832px 17.8015px rgba(255, 255, 255, 0.12);
    overflow: hidden;
    text-decoration: none;
    flex-shrink: 0;
    border-radius: 12px;
    position: relative;   
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 35px 45px;
    @media (max-width: 1024px) {
      margin: 340px auto 0;
      width: 100%;
      max-width: 300px;
    }
  }
  &__btn-span {
    background-image: url('../assets/img/btn-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    mix-blend-mode: color-burn;
    position: absolute;
    width: 100%;
    height: 100%;
  }
  &__btn-text {
    font-family: $font-main;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 143.7%;
    text-align: right;
    color: $color-light;
    text-transform: uppercase;
    @media (max-width: 1024px) {
      font-size: 16px;
      line-height: 21px;
    }
  }
  &__instagrm {
    text-decoration: none;
    position: absolute;
    z-index: 3;
    font-family: $font-main;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 172.5%;
    color: $color-text;
    padding: 3px 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #F9F9F9;
    box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    & img {
      @media (max-width: 1024px) {
        width: 15px;
        height: auto;
      }
    }
    @media (max-width: 1024px) {
      font-size: 10px;
    }
    &_pavel {
      bottom: 250px;
      right: 174px;
      @media (max-width: 1200px) {
        bottom: 290px;
        right: 15%;
      }
      @media (max-width: 1024px) {
        bottom: 200px;
        right: calc(50% - 170px);
      }
      @media (max-width: 400px) {
        right: calc(50% - 155px);
      }
    }
    &_ler {
      bottom: 240px;
      left: 501px;
      @media (max-width: 1200px) {
        bottom: 275px;
        left: calc(50% - 63px);
      }
      @media (max-width: 1024px) {
        bottom: 180px;
        left: calc(50% - 56px);
      }
    }
    &_artem {
      bottom: 250px;
      left: 200px;
      @media (max-width: 1200px) {
        bottom: 290px;
        left: 15%;
      }
      @media (max-width: 1024px) {
        bottom: 200px;
        left: calc(50% - 170px);
      }
      @media (max-width: 400px) {
        left: calc(50% - 155px);
      }
    }
  }
}
.header {
  padding: 26px 0;

}
.nav {

  @media (max-width: 1024px) {
    display: none;
  }

  &__list {
    width: 100%;
    max-width: 920px;
    min-height: 74px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(180deg, #FFFFFF 0%, #FFFBF8 100%);
    box-shadow: inset 0px 0px 28px #FFFFFF;
    border-radius: 15px;
    margin: 0 auto;
    overflow: hidden;
  }

  &__item {
    min-height: 74px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 17px;
    &:not(:last-child) {
      border-right: 1px solid rgba(86, 74, 164, 0.192);
    }
    &:nth-child(3) {
      flex-shrink: 0;
      width: 208px;
      box-shadow: 0px 0px 120px rgba(86, 74, 164, 0.192);
    }
    &:nth-child(even) {
      width: 218px;
    }
    &:first-child, &:last-child {
      width: 144px;
    }
  }

  &__link {
    text-decoration: none;
    text-align: center;
    font-family: $font-main;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.02em;
    color: $color-text;
    
    &.header__logo {
      padding: 0;
      display: block;
      background: url('../assets/svg/logo.svg') no-repeat;
      width: 163px;
      height: 48px;
      &_1024 {
        display: none;
      }
    }

  }
}

.team {
  position: absolute;
  z-index: 0;
  top: 140px;
  left: 0px;
  width: 280px;
  color: $color-light;
  background: linear-gradient(275.47deg, rgba(255, 255, 255, 0.1518) -6.66%, rgba(255, 255, 255, 0.297) 23.73%, rgba(255, 255, 255, 0.1056) 38.2%), linear-gradient(84.15deg, rgba(248, 108, 48, 0.27) -4.92%, rgba(255, 144, 66, 0.27) 32.93%), rgba(255, 142, 62, 0.81);
  backdrop-filter: blur(60px);
  border-radius: 11px;
  padding: 12px;
  padding-right: 52px;
  font-family: $font-main;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 143.7%;
  text-align: right;
  &__span {
    font-weight: 300;
  }
  @media (max-width: 1200px) {
    width: 300px;
    z-index: 9;
    padding-right: 30px;
    top: 390px;
    left: calc(50% - 290px);
  }
  @media (max-width: 1024px) {
    font-size: 12px;
    padding: 8px 17px 8px 8px;
    width: 155px;
    top: 300px;
    left: calc(50% - 155px);
  }
}
.employment {
  position: absolute;
  z-index: 0;
  top: 140px;
  right: 0px;
  width: 320px;
  color: $color-light;
  background: linear-gradient(275.47deg, rgba(255, 255, 255, 0.1518) -6.66%, rgba(255, 255, 255, 0.297) 23.73%, rgba(255, 255, 255, 0.1056) 38.2%), linear-gradient(84.15deg, rgba(18, 0, 140, 0.27) -4.92%, rgba(58, 42, 172, 0.2322) 32.93%), rgba(86, 74, 164, 0.65);
  backdrop-filter: blur(60px);
  border-radius: 11px;
  padding: 12px;
  padding-left: 60px;
  font-family: $font-main;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 143.7%;
  text-align: left;
  &__span {
    font-weight: 300;
  }
  @media (max-width: 1200px) {
    width: 300px;
    z-index: 9;
    padding: 12px;
    top: 420px;
    right: calc(50% - 290px);
  }
  @media (max-width: 1024px) {
    font-size: 12px;
    padding: 8px;
    width: 165px;
    top: 312px;
    right: calc(50% - 155px);
  }
}

@media (max-width: 1024px) {
  .header__logo_1024 {
    padding: 0;
    display: block;
    background: url('../assets/svg/logo.svg') no-repeat;
    width: 163px;
    height: 48px;
    margin: 0 auto;
  }
  .img-1024__wrap {
    overflow: hidden;
    display: flex;
    justify-content: center;
  }
}


