.numbers {

  padding: 70px 0 130px;
  background: url('../assets/img/palm-left.png') no-repeat center left,
              url('../assets/img/palm-right.png') no-repeat center right;
  background-color: $color-bg-light;
  @media (max-width: 1024px) {
    background: url('../assets/img/palm-left.png') no-repeat bottom left,
                url('../assets/img/palm-right.png') no-repeat top right;
    background-color: $color-bg-light;
  }
  @media (max-width: 1200px) {
    padding: 130px 0;
  }
  @media (max-width: 768px) {
    padding: 100px 0 38px;
  }

  &__title {
    font-family: $font-accent;
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.02em;
    color: $color-text;
    margin-bottom: 80px;
    @media (max-width: 768px) {
      font-size: 30px;
      line-height: 36px;
      margin-bottom: 45px;
    }
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 60px;
    margin: 0 auto;
    @media (max-width: 1024px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: 768px) {
      grid-template-columns: 1fr;
      justify-items: center;
      gap: 50px;
    }
  }
}

.number {

  display: flex;
  flex-direction: column;
  align-items: center;
  @media (max-width: 768px) {
    max-width: 280px;
  }

  &__amout {
    font-family: $font-accent;
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 108px;
    text-align: center;
    letter-spacing: 0.02em;
    color: $color-text;
    text-shadow: 0px 0px 59px rgba(255, 143, 175, 0.38);
    & .little {
      font-size: 40px;
      line-height: 100%;
    }
    @media (max-width: 768px) {
      font-size: 70px;
      line-height: 84px;
    }
  }

  &__units {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-family: $font-accent;
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 43px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: $color-bg-light;
    text-shadow: 0px 0px 60.8053px rgba(27, 190, 227, 0.32);
    padding: 5px 15px;
    background: $gradient-project;
    border-radius: 5px;
    @media (max-width: 768px) {
      font-size: 27px;
      line-height: 33px;
    }
  }

  &__description {
    font-family: $font-main;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 143.7%;
    color: $color-text;
    text-align: center;
    margin-top: 10px;
    @media (max-width: 768px) {
      font-size: 16px;
    }
  }
}
