.questions {
  padding: 70px 0 75px;
  background: $color-bg-light url('../assets/img/questions-bg.jpg') no-repeat center top / cover;
  @media (max-width: 1024px) {
    padding-bottom: 600px;
    background: $color-bg-light url('../assets/img/questions-bg.jpg') no-repeat center bottom;
    background-size: 1220px;
    background-position-x: 10%;
    padding-top: 30px;
  }
  @media (max-width: 586px) {
    background-position-x: 30%;
  }

  &__title {
    font-family: $font-accent;
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.02em;
    color: $color-text;
    margin: 0 auto;
    margin-bottom: 76px;
    max-width: 588px;
    @media (max-width: 768px) {
      font-size: 30px;
      line-height: 36px;
      margin-bottom: 35px;
    }
  }
}

.form {

  max-width: 465px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background: #F6F6F6;
  box-shadow: 8px 0px 22px rgba(0, 0, 0, 0.17);
  border-radius: 18px;
  transform: translate(65%, 0);
  @media (max-width: 1200px) {
    transform: translate(50%, 0);
  }
  @media (max-width: 1024px) {
    transform: translate(0, 0);
    padding: 15px;
  }

}
