$font-main: 'Roboto', sans-serif;
$font-accent: 'Qisharon', sans-serif;

$color-light: #ffffff;
$color-text: #323232;
$color-bg-light: #FBFBFB;
$color-reserch: #EA7543;
$color-project: #564AA4;

$gradient-assistant: linear-gradient(45deg, #EA719F 0%, #D187A3 100%);
$gradient-reserch: linear-gradient(45deg, #EA7543 0%, #FFA362 100%);
$gradient-project: linear-gradient(45deg, #7C6DE0 0%, #666BF7 100%);